body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/************  login & register **************/

.auth-page-layer {
  background-image: linear-gradient(to right, #00008b 0%, #0000cd 19%, #1e90ff 60%, #87ceeb 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  border:16px solid white
}
